PORTFOLIO_DB_URL=jdbc:postgresql://localhost:5432/portfolio_db
PORTFOLIO_DB_USERNAME=postgres
PORTFOLIO_DB_PASSWORD=123456
PORTFOLIO_JWT_SECRET=replace_with_a_long_local_dev_secret
PORTFOLIO_BOOTSTRAP_ADMIN_ENABLED=false
PORTFOLIO_ADMIN_USERNAME=ferchuz
PORTFOLIO_ADMIN_PASSWORD=kakar0t0
